.footer_container{
background-color: #eee;
}
.footer ::selection{
    background-color: rgb(243, 228, 201);
    
}
.footer ul {
list-style: none;

}
.footer  a{
    text-decoration: none;
    color: #000;
}
.footer #join{
    
   font-size: 20px;
   color: white;
  
}